<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GLightsV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GLightsV1.Properties.Settings>
            <setting name="side" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="deadzone" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="deadzoneCurve" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="smoothness" serializeAs="String">
                <value>92</value>
            </setting>
            <setting name="topHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="customColor" serializeAs="String">
                <value />
            </setting>
        </GLightsV1.Properties.Settings>
    </userSettings>
</configuration>